@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-brand-50 to-white;
  }
  h1, h2, h3 {
    @apply text-brand-700;
  }
  input, select, textarea {
    @apply focus:outline-none focus:ring-2 focus:ring-brand-400;
  }
}
